<%- include("../components/head") %>
<div class="content-wrapper has-assistant"> 
    <!--几个获取转接号的参数-->
    <input type="hidden" id="agentId" value="<%= item.houseAgent.agentId %>">
    <input type="hidden" id="houseId" value="<%= item.houseId %>">
    <input type="hidden" id="serviceType" value="1">    
    <!--<i class="iconfont icon-back"></i>-->
   <!-- 底部助手条 --> 
   <% if( item.houseState != 4 ) { %>    
        <%- include( "../components/assistant" , {
                agent : item.houseAgent , 
                mobileBigDataParams : item.bigDataParams && item.bigDataParams.mobileBigDataParams ,
                avatarBigDataParams : item.bigDataParams && item.bigDataParams.avatarBigDataParams ,
                wxBigDataParams : item.bigDataParams && item.bigDataParams.wxBigDataParams
            } ) %>
   <% } %>    
    <!-- 轮播相册图片 -->    
    <div class="wk-panel remove-left-padding">
        <%- include( "../components/album" , {
            imgList : item.imgList , 
            bigDataParams : item.bigDataParams.clickImageBigDataParams
        } ) %>
    </div>
    <!-- 户型等信息 -->
    <div class="wk-panel has-right-padding">
        <p class="house-title"><%= item.houseTitle %></p>
        <div class="panel-body">
            <hr>
            <div class="price-type-area">                
                <div class="column-container price">
                    <dl><dt>租金</dt><dd><%= item.rentPriceStr %> 元/月</dd></dl>
                </div>
                <div class="column-container type">
                    <dl><dt>户型</dt><dd><%= item.houseTypeStr %></dd></dl>
                </div>
                <div class="column-container area">
                    <dl><dt>面积</dt><dd><%= parseInt( item.spaceArea , 10 ) %> ㎡</dd></dl>
                </div>                
            </div>
            <hr>
            <%- include("../components/rent-tags" , { "houseTag" : item.houseTag }) %>
            <div class="two-column-container">
                <dl><dt>付款</dt><dd><%= item.payTypeStr || "--" %></dd></dl>
                <dl><dt>朝向</dt><dd><%= item.orientationStr || "--" %></dd></dl>
                <dl><dt>类型</dt><dd><%= item.houseChildTypeStr || "--" %></dd></dl>
                <dl><dt>装修</dt><dd><%= item.renovationStr || "--" %></dd></dl>
                <dl><dt>年代</dt><dd><%= item.completedStr || "--" %></dd></dl>
                <dl><dt>楼层</dt><dd><%= item.floorStr %></dd></dl>
            </div>
            <hr>
            <div class="one-column-container">
                <% if( item.houseChildType != 27) { %>
                   <dl>
                       <dt>小区</dt>
                       <dd class="has-arrow"><a data-bigdata="<%= item.bigDataParams.clickSubEstateBigDataParams %>" href="<%= item.subEstateUrl %>"><%= item.subEstateName %></a></dd>
                   </dl>
                <% } %>
                <% if( item.subWayLineModels && item.subWayLineModels.length > 0) { %>
                <div class="subway">
                    <span class="name">地铁</span>
                    <ul>
                        <%item.subWayLineModels && item.subWayLineModels.forEach(function (itemL,index) {%>
                              <li>距<%=itemL.stationName%>站<%=itemL.distance%>米</li>
                        <%})%>
                    </ul>
                    <%if(item.subWayLineModels.length > 1){%>
                    <span class="more-line">更多</span>
                    <% }%>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- 配套设施 -->
    <% if( ! item.isExternal ) { %>
        <%- include( "../components/supporting" , { houseSupporting : item.houseSupporting } ) %>   
    <% } %>
    <!-- 基本信息 -->
    <% if( ! item.isExternal && ( item.sellPoint || item.ownerMotivation || item.aroundSupport )) { %>
    <div class="wk-panel top-gap has-right-padding">
        <div class="panel-header">基本信息</div>
        <div class="panel-body column-container">
            <% if( item.sellPoint ) { %><dl><dt>主要优势</dt><dd><%= item.sellPoint %></dd></dl><% } %>
            <% if( item.ownerMotivation ) { %><dl><dt>房东心态</dt><dd><%= item.ownerMotivation %></dd></dl><% } %>
            <% if( item.aroundSupport ) { %><dl><dt>周边配套</dt><dd><%= item.aroundSupport %></dd></dl><% } %>             
        </div>
    </div>
    <% } else if( item.sellPoint && item.sellPoint.length >= 30 ) { %>
    <div class="wk-panel top-gap has-right-padding">
        <div class="panel-header">基本信息</div>
        <div class="panel-body column-container">
            <dl>
                <dd class="external-sellpoint"><%= item.sellPoint %></dd>                
            </dl>            
        </div>
    </div>
    <% } %>        
    <div class="wk-panel top-gap has-right-padding">
        <div class="panel-header">小区信息</div>
        <div class="panel-body">
            <div class="estate-section">
                <a data-bigdata="<%= item.bigDataParams.clickSubEstateInfoBigDataParams %>" class="subestate box" href="<%= item.subEstateUrl %>">
                    <div class="left"><img src="<%= item.estateImgUrl %>"></div>
                    <div class="right">
                        <h4><%= item.subEstateName %></h4>                        
                        <p class="completed has-arrow"><%= item.completedStr&&item.completedStr!='--'?(item.completedStr + '竣工  '):'' %><%= item.totalHouse && item.totalHouse!='0' && item.totalHouse!='--'? ((item.completedStr && item.completedStr!='--'? '|  ' : '') + item.totalHouse + '户'):'' %>&nbsp;</p>                        
                        <p class="address"><%= item.estateAddr&&item.estateAddr!='--'?item.estateAddr:'' %></p>
                    </div>
                </a>                
            </div>
        </div>
    </div>
    <% if( item.houseChildType != 27) { %>
    <div class="wk-panel rent-comments has-right-padding">
        <hr>
        <div class="panel-header">
            <a class="box" href="<%= item.commentTotal > 0 ? domain + '/estate/moreComment.html?commentLocation=1&subEstateId='+ item.subEstateId: '#' %>" data-bigdata="<%= item.bigDataParams.clickCommentTotalBigDataParams%>">
                <div class="left">小区评论</div>
                <%if(item.commentTotal > 0){%>
                <div class="right"><%= item.commentTotal%> 条<i class="iconfont icon-next"></i></div>
                <%}%>
            </a>
        </div>
        <%if(item.commentTotal<=0){%>
            <div class="panel-body" style="padding-bottom: 1rem">
                <span>当前暂无评论，快来抢沙发吧！</span>
                <p><a href="<%= domain %>/estate/commentEstate.html?subEstateId=<%= item.subEstateId %>&source=rent&businessId=<%= item.encryptHouseId %>&commentLocation=1&boutique=0&hotSpotId=<%= item.houseId %>" data-bigdata="<%= item.bigDataParams.clickGoCommentBigDataParams%>">我来点评</a></p>
            </div>
        <%}%>     
         
    </div>
    <%}%>
    <% if( item.longitude > 0 &&  item.latitude > 0 ){ %>
         <%- include("../components/map" , {
             bigDataParams : item.bigDataParams.clickMapBigDataParams ,
             longitude : item.longitude ,
             latitude : item.latitude , 
             address : item.estateAddr , 
             subEstateName : item.subEstateName , 
             mapUrl : item.mapUrl
          }) %>
    <% } %>
    <!-- 相似房源推荐 -->
    <% if( item.similarHouses && item.similarHouses.length > 0 ) { %>
    <div class="wk-panel top-gap has-right-padding">
        <div class="panel-header">相似房源推荐</div>
        <div class="panel-body"><%- include( "../components/rent-items" , { rentItems : item.similarHouses }) %></div>        
    </div>  
    <% } %>
    <% if( item.houseState == 4 ) { %><a class="invalid-rent">该房源已下架</a><% } %>
</div>
<%- include("../components/download-app" ,{ bigDataParams: item.bigDataParams && item.bigDataParams.downloadBigDataParams }) %>

<%- include("../components/footer") %>