<%- include("../components/head") %>
<!--条件选择-->
<div class="rent-list">
    <div class="rent-search">
        <i class="iconfont icon-back" ></i>
        <div class="search-input">
            <i class="iconfont icon-search"></i>
            <input id="searchInput" type="text" placeholder="搜索小区或地址">
            <i class="iconfont icon-close conone"></i>
            <i class="iconfont icon-close contwo"></i>
        </div>
    </div>
    <ul>
        <li id="dic"><p>区域</p><span><i></i></span></li>
        <li id="price"><p>租金</p><span><i></i></span></li>
        <li id="type"><p>户型</p><span><i></i></span></li>
        <li id="more"><p>更多</p><span><i></i></span></li>
    </ul>
</div>
<div class="all-control">
    <!--房源总数-->
    <div class="total-num">
        <p>共找到<span><%=item.count%></span>套房源</p>
    </div>
    <!--区域查询对应模块-->
    <div class="dic" style="display: none">
        <div class="tabs">
            <ul>
                <li class="active-color-dic">区域</li>
                <li>地铁</li>
            </ul>
        </div>
        <div class="content">
            <div class="dic-content" >
                <div class="content-left content-hight">
                    <ul id="dicAreas">

                    </ul>
                </div>
                <div class="content-right content-hight">
                    <ul id="town">

                    </ul>
                </div>
            </div>
            <div class="metro-content" style="display: none">
                <div class="content-left content-hight">
                    <ul id="metroLine">

                    </ul>
                </div>
                <div class="content-right content-hight">
                    <ul id="metroStation">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--总价查询对应模块-->
    <div class="price-total" style="display: none">
        <div class="price-list">
            <ul>
                <% item.pageData.priceList && item.pageData.priceList.forEach(function(item){ %>
                <%  if (item == 0){  %>
                <li data-pr="0">不限</li>
                <% }else if (item == 1000) {%>
                <li data-pr="<%='pr-0-pr-1000'%>"><%=item%> 元以下</li>
                <% } else if (item == 10000){%>
                <li data-pr="<%='pr-'+item%>"><%=item%> 元以上</li>
                <% } else  {%>
                <li data-pr="<%='pr-'+item.replace(" - ","-pr-")%>"><%=item%> 元</li>
                <% } %>
                <% }) ; %>
            </ul>
        </div>
        <div class="writ-price">
            <input type="number" id="lowPr" placeholder="最低价格"><span> - </span><input type="number" id="topPr" placeholder="最高价格"> <button id="selfPrConf">确认</button>
        </div>
    </div>
    <!--房型查询对应模块-->
    <div class="house-type" style="display: none">
        <div class="house-list">
            <ul>
                <% item.pageData.layout && item.pageData.layout.forEach(function(item,index){ %>
                <li data-la="<%='la-'+index%>"><%=item%></li>
                <% }) ; %>
            </ul>
        </div>
        <div class="house-conf">
            <button id="houseCmfir">确定</button>
        </div>
    </div>
    <!--更多查询对应模块-->
    <div class="more" style="display: none">
        <div class="more-spec">
            <p>特色</p>
            <ul>
                <li>近地铁</li>
                <li>降价</li>
                <li>新上</li>
                <li>朝南</li>
            </ul>
        </div>
        <div class="area">
            <p>面积[㎡]</p>
            <ul>
                <li data-ar="ar-0">50以下</li>
                <li data-ar="ar-1">50-70</li>
                <li data-ar="ar-2">70-90</li>
                <li data-ar="ar-3">90-110</li>
                <li data-ar="ar-4">110-130</li>
                <li data-ar="ar-5">130-150</li>
                <li data-ar="ar-6">150以上</li>
            </ul>
        </div>
        <div class="decoration">
            <p>装修</p>
            <ul>
                <li data-dt="dt-1">毛坯</li>
                <li data-dt="dt-2">简装</li>
                <li data-dt="dt-3">中装</li>
                <li data-dt="dt-4">精装</li>
                <li data-dt="dt-5">豪装</li>
            </ul>
        </div>
        <div class="butt-group">
            <p id="cancelMore" class="canl" >重置</p>
            <p id="moreComf" class="conf">确定</p>
        </div>
    </div>
    <!--房源排序选项-->
    <div id="sortChose" class="sort-chose" style="display: none">
        <ul>
            <li data-so="so-0" class="chosed">默认排序</li>
            <li data-so="so-1">租金从低到高</li>
            <li data-so="so-2">租金从高到低</li>
            <li data-so="so-4">面积从大到小</li>
            <li data-so="so-3">面积从小到大</li>
            <li data-so="so-5">发布时间从近到远</li>
        </ul>
    </div>

    <!--底部罩层-->
    <div class="bac" style="display: none"></div>
    <div class="wrong">
        <p>请输入正确的价格区间</p>
    </div>
    <!--排序按钮-->
    <%if(item.count > 0){%>
    <div class="sort" id="sort">
        <i class="iconfont icon-paixu"></i>
        <span>排序</span>
    </div>
    <%}%>
    <!--租房具体房源列表-->
    <%if(item.count > 0){%>
    <div class="rent-items" >
        <%- include("../components/rent-items" , {rentItems: item.data}) %>
    </div>
    <%}else {%>
    <div class="no-rent-item" >
        <div class="show-no">
            <p class="disc-one">暂时没有符合条件的房源</p>
            <p class="disc-two">您可以扩大搜索范围，找到更多的房源</p>
            <p class="clear clearOption">清除条件</p>
        </div>
        <div class="guess-like wk-panel">
            <div class="panel-header">猜你喜欢</div>
            <div class="">
                <% if(item.guessLikeHouse){%>
                <%- include("../components/rent-items" , {rentItems: item.guessLikeHouse.data}) %>
                <%}%>

            </div>
        </div>
    </div>
    <%}%>
</div>
<div class="search-result" style="display: none">
    <div class="no-result" style="display: none">
        <p>未找到该地址，请重新搜索</p>
        <span>您可以更换其他关键字再试一次</span>
    </div>
    <div class="have-result" style="display: none">
        <p>搜索历史</p>
        <div class="result-history">
            <ul id="resultHistory">
                <li><p>10 号线（虹桥火车站-新江湾城）</p><span>地铁线路</span></li>
                <li><p>10 号线（虹桥火车站-新江湾城）</p><span>地铁线路</span></li>
                <li><p>10 号线（虹桥火车站-新江湾城）</p><span>地铁线路</span></li>
            </ul>
            <p id="clearHistory">清除搜索历史</p>
        </div>
    </div>
    <div class="show-result" style="display: none">
        <ul id="showResult">

        </ul>
    </div>
</div>



<%- include("../components/footer") %>