<%- include("../components/head") %>
<!--条件选择-->
<div class="rent-list">
    <ul>
        <li id="dic">区域<span><i></i></span></li>
        <li id="price">价格<span><i></i></span></li>
        <li id="type">类型<span><i></i></span></li>
        <li id="more">更多<span><i></i></span></li>
    </ul>
</div>
<!--房源总数-->
<div class="total-num">
    <p>共找到<span><%=item.totalHouseCount%></span>套房源</p>
</div>
<!--区域查询对应模块-->
<div class="dic">
  <div class="tabs">
      <ul>
          <li><span class="active-color-dic">区域</span></li>
          <li><span>地铁</span></li>
      </ul>
  </div>
  <div class="content">
      <div class="dic-content">
          <div class="content-left">
              <ul>
                  <li>附近／定位失败</li>
                  <li>宝山区</li>
                  <li>崇明区</li>
                  <li>奉贤区</li>
                  <li>长宁区</li>
                  <li>普陀区</li>
                  <li>黄浦区</li>
                  <li>虹口区</li>
                  <li>浦东新区</li>
                  <li>虹口区</li>
              </ul>
          </div>
          <div class="content-right">
              <ul>
                  <li>不限（智能范围）</li>
                  <li>500米以内</li>
                  <li>1000米以内</li>
                  <li>2000米以内</li>
                  <li>5000米以内</li>
              </ul>
          </div>
      </div>
      <div class="metro-content" style="display: none">
          地铁
      </div>
  </div>
</div>
<!--总价查询对应模块-->
<div class="price-total">
    <div class="price-list">
        <ul>
            <% item.pageData.priceList && item.pageData.priceList.forEach(function(item,index){ %>
               <li data-index="<%='pr-'+index%>"><%=item%></li>
            <% }) ; %>
        </ul>
    </div>
    <div class="writ-price">
        <input type="number" placeholder="最低价格"><span> - </span><input type="number" placeholder="最高价格"> <button>确定</button>
    </div>
</div>
<!--房型查询对应模块-->
<div class="house-type">
    <div class="house-list">
        <ul>
            <% item.pageData.layout && item.pageData.layout.forEach(function(item,index){ %>
            <li data-index="<%='la-'+index%>"><%=item%></li>
            <% }) ; %>
        </ul>
    </div>
    <div class="house-conf">
        <button>确定</button>
    </div>
</div>
<!--更多查询对应模块-->
<div class="more">
  <div class="more-spec">
      <p>特色</p>
      <ul>
          <li>近地铁</li>
          <li>降价</li>
          <li>新上</li>
          <li>朝南</li>
      </ul>
  </div>
    <div class="area">
        <p>面积㎡</p>
        <ul>
            <li>50以下</li>
            <li>50-70</li>
            <li>70-90</li>
            <li>90-110</li>
            <li>110-130</li>
            <li>130-150</li>
            <li>150以上</li>
        </ul>
    </div>
    <div class="decoration">
        <p>装修</p>
        <ul>
            <li>毛坯</li>
            <li>简装</li>
            <li>中装</li>
            <li>精装</li>
            <li>豪装</li>
        </ul>
    </div>
</div>

<div class="bac"></div>
<!--租房具体房源列表-->
<div class="rent-items">
    <%- include("../components/rent-list" , {rentItem: item.rentList}) %>
</div>


<%- include("../components/footer") %>