<%- include("../components/head") %>
<%- include("../components/album",{imgList:item.imgList,bigDataParams:"123"}) %>
<div class="all-dis">
    <div class="highlight wk-panel">
        <p class="source-title"><%= item.houseTitle || item.estateName %></p>
        <div class="outline">
            <div class="money">
                <span class="hd">总价</span>
                <span class="bd"><%= item.totalPrice %>万</span>
            </div>
            <div class="layout">
                <span class="hd">户型</span>
                <span class="bd"><%= item.houseChild %></span>
            </div>
            <div class="area">
                <span class="hd">建筑面积</span>
                <span class="bd"><%= item.areaStr %></span>
            </div>
        </div>
        <div class="tags">
            <% item.tagList && item.tagList.forEach(function(item){ %>
            <span ><%= item %></span>
            <% }) ; %>
        </div>
        <div class="cols2-fields">
            <div><span class="hd">单价</span><span class="bd"><%= item.unitPrice %> 元 / ㎡</span></div>
            <div><span class="hd">年代</span><span class="bd"><%= item.completed %> 年</span></div>
            <div><span class="hd">类型</span><span class="bd"><%= item.houseType %></span></div>
            <div><span class="hd">楼层</span><span class="bd"><%= item.floorDesc %></span></div>
            <div><span class="hd">装修</span><span class="bd"><%= item.decorationStr %></span></div>
            <div><span class="hd">朝向</span><span class="bd"><%= item.orientationStr %></span></div>
        </div>
        <hr/>
        <div class="cols1-fields">
            <div class="estateName">
                <span class="hd">预算</span>
                <a  class="bd" href="https://m.wkzf.com/houseLoanCalculator.html?totalPrice=<%= item.totalPrice %>">
                   <span >首付<%= item.advancePayment %> 万，月供 <%= item.mortgage %> 元</span>
                    <i class="iconfont icon-next"></i>
                </a>
            </div>
            <div class="estateName">
                <span class="hd">小区</span>
                <a  class="bd" href="<%= item.estateImgUrl %>">
                    <span><%= item.estateName %></span>
                    <i class="iconfont icon-next"></i>
                </a>
            </div>
            <%if(item.metroInfo){%><div><span class="hd">地铁</span><span class="bd"><%= item.metroInfo %></span></div><%}%>
            <%if(item.schoolName){%><div><span class="hd">学校</span><span class="bd"><%= item.schoolName %></span></div><%}%>
        </div>
    </div>

    <!-- 基本信息模块-->
    <%if(! (item.houseState === 2 && !item.sellPoint)){%>
    <div class="summary wk-panel top-gap">
        <div class="panel-header">基本信息</div>
        <div class="panel-body">
            <%if(item.isWKhouse === 1){%>
            <div>
                <%if(item.sellPoint){%>
                  <span class="hd">主要优势</span>
                  <span class="bd"><%= item.sellPoint %></span>
                <%}%>
                <div >
                    <%if(item.ownerMotivation){%>
                      <span class="hd">业主心态</span>
                      <span class="bd"><%= item.ownerMotivation%></span>
                    <%}%>
                    <%if(item.aroundSupport){%>
                       <span class="hd">周边设施</span>
                       <span class="bd"><%= item.aroundSupport %></span>
                    <%}%>
                </div>
            </div>
            <%}else {%>
            <div>
                <p class="base-info "><%= item.sellPoint %></p>
                <div class="more">查看更多</div>
            </div>
            <%}%>
        </div>
    </div>
    <%}%>
    <!-- 小区信息模块-->
    <div class="estate wk-panel top-gap">
        <div class="panel-header">小区信息</div>
        <a class="panel-body" href="<%= item.estateUrl  %>">
            <img src="<%= item.estateImgUrl%>?x-oss-process=image/resize,w_120" >
            <p class="name"><%= item.estateName%></p>
            <span class="outline">
                <span><%= item.completedStr %> 竣工  |  <%= item.totalHouse %></span>
                <span class="iconfont icon-next"></span>
            </span>
            <span class="address"><%= item.estateAddr || '--'%></span>
        </a>
         <div class="echart">
             <hr/>
             <div class="panel-header">价格走势</div>
             <div id="main"></div>
         </div>

        <%if(item.sameEstateHouseAmount){%>
             <div >
            <hr/>
           <!-- /estate/sameEstateHouseList.html?subEstateId=86756c9c3f35ff0e-->
            <a class="total-item" >
                <p>在售房源</p>
                <span>
                    <span><%= item.sameEstateHouseAmount || 0 %> 套</span>
                    <i class="iconfont icon-next"></i>
                </span>
            </a>
        </div>
        <%}%>
        <%if(item.historicalTransactionAmount){%>
           <div >
            <hr/>
          <!--  /estate/historicalTransactionList.html?subEstateId=86756c9c3f35ff0e-->
            <a class="total-item" >
                <p>成交历史</p>
                <span>
                    <span><%= item.historicalTransactionAmount || 0 %> 套</span>
                    <i class="iconfont icon-next"></i>
                </span>
            </a>
        </div>
        <%}%>
          <div>
            <hr/>
            <%if(item.commentTotal ){%>
              <a class="total-item" >
                <p>小区评论</p>
                <span>
                    <span><%= item.commentTotal  %> 条</span>
                    <i class="iconfont icon-next"></i>
                </span>
            </a>
            <%}else{%>
               <div class="total-item">
                <p>小区评论</p>
                <div>
                    <span>当前暂无评论，快来抢沙发吧！</span>
                   <!-- /estate/commentEstate.html?subEstateId=80953&source=esf&businessId=1068469b2a801b91&commentLocation=1&boutique=0&hotSpotId=3038144-->
                    <p><a>我来点评</a></p>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    <!--地图模块-->
    <%if(item.latitude && item.longitude){%>
       <%- include("../components/map",{ longitude: item.longitude, latitude: item.latitude, address: item.estateAddr, subEstateName:item.subEstateName, mapUrl: item.mapUrl,bigDataParams: "23" }) %>
    <%}%>
   <!-- 相似房源推荐-->
    <%if(item.similarHouses){%>
    <div class="similar wk-panel">
        <div class="panel-header">相似房源推荐</div>
        <div class="panel-body">
            <%- include("../components/rent-items",{ rentItems: item.similarHouses}) %>
        </div>
        <% if(item.similarHouses.length > 5){ %>
        <div class="panel-more">
            <!--/esf/similarList.html?enCryptHouseId=1068469b2a801b91-->
            <a url="/pages/esf/list?type=similar&houseId={{ house.houseId }}">查看更多</a>
        </div>
        <% } %>
    </div>
    <%}%>
</div>

<!--判断房源是否下架-->
<% if(item.houseState == 2){ %>
<%- include("../components/assistant" , { agent: item.houseAgent ,mobileBigDataParams: " ",avatarBigDataParams: " ",wxBigDataParams: " ",}) %>
<% }else{ %>
<div class="no-sell">
    <p>该房源已下架</p>
</div>
<% } %>
<%- include("../components/footer") %>