<%- include("../components/head") %>
<%- include("../components/album",{imgList:item.imgList,bigDataParams:item.DataParams.albumBigDataParams}) %>
<div class="all-dis">
    <!--<i class="iconfont icon-back"></i>-->
    <div class="highlight wk-panel">
        <p class="source-title" id="sourceTitle"><%= item.houseTitle  %></p>
        <hr>
        <div class="outline">
            <div class="money">
                <span class="hd">总价</span>
                <span class="bd"><%= item.totalPrice %>  万</span>
            </div>
            <div class="layout">
                <span class="hd">户型</span>
                <span class="bd"><%= item.houseChild %></span>
            </div>
            <div class="area">
                <span class="hd">建筑面积</span>
                <span class="bd"><%= item.areaStr %></span>
            </div>
        </div>
        <hr>
        <div class="tags">
            <% item.tagList && item.tagList.forEach(function(item){ %>
               <span ><%= item %></span>
            <% }) ; %>
        </div>
        <div class="cols2-fields">
            <div><span class="hd">单价</span><span class="bd"><%= item.unitPriceStr %> </span></div>
            <div><span class="hd">年代</span><span class="bd"><%= item.completedStr %> </span></div>
            <div><span class="hd">类型</span><span class="bd"><%= item.houseType %></span></div>
            <div><span class="hd">楼层</span><span class="bd"><%= item.floorDesc %></span></div>
            <div><span class="hd">装修</span><span class="bd"><%= item.decorationStr %></span></div>
            <div><span class="hd">朝向</span><span class="bd"><%= item.orientationStr %></span></div>
        </div>
        <hr/>
        <div class="cols1-fields">
            <div class="estateName">
                <span class="hd">预算</span>
                <a  class="bd" href="<%= domain %>/houseLoanCalculator.html?totalPrice=<%= item.totalPrice %>" data-bigdata = "<%= item.DataParams.calculatorBigDataParams%>">
                    <i class="iconfont icon-next"></i>
                   <span >首付<%= item.advancePayment %> 万，月供 <%= item.mortgage %> 元</span>                    
                </a>
            </div>
            <div class="estateName" id="estateName" data-encryptSubEstateId = "<%= item.encryptSubEstateId %>" data-subestateid = "<%= item.subEstateId %>" data-houseid = "<%= item.houseId %>" data-boutique = "<%= item.isTopHouse %>">
                <span class="hd" >小区</span>
                <a  class="bd" href="<%= domain %>/city/community/<%=item.encryptSubEstateId%>.html" data-bigdata="<%= item.DataParams.communtNameBigDataParams%>">
                    <i class="iconfont icon-next"></i>
                    <span><%= item.estateName %></span>                    
                </a>
            </div>
            <%if(item.metroInfo){%><div><span class="hd">地铁</span><span class="bd"><%= item.metroInfo %></span></div><%}%>
            <%if(item.schoolName){%><div><span class="hd">学校</span><span class="bd"><%= item.schoolName %></span></div><%}%>
        </div>
    </div>

    <!-- 基本信息模块-->
    <%if(! (item.houseState === 2 && !item.sellPoint)){%>
    <div class="summary wk-panel top-gap">
        <div class="panel-header">基本信息</div>
        <div class="panel-body">
            <%if(item.isWKhouse === 1){%>
            <div>
                <%if(item.sellPoint){%>
                  <span class="hd">主要优势</span>
                  <span class="bd"><%= item.sellPoint %></span>
                <%}%>
                <div >
                    <%if(item.ownerMotivation){%>
                      <span class="hd">业主心态</span>
                      <span class="bd"><%= item.ownerMotivation%></span>
                    <%}%>
                    <%if(item.aroundSupport){%>
                       <span class="hd">周边设施</span>
                       <span class="bd"><%= item.aroundSupport %></span>
                    <%}%>
                </div>
            </div>
            <%}else {%>
            <div>
                <p class="base-info "><%= item.sellPoint %></p>
                <div class="more" data-bigdata="<%= item.DataParams.basecInfoBigDataParams%>">查看更多</div>
            </div>
            <%}%>
        </div>
    </div>
    <%}%>
    <!-- 小区信息模块-->
    <div class="estate wk-panel top-gap">
        <div class="panel-header">小区信息</div>
        <a class="panel-body" href="<%= domain %>/city/community/<%=item.encryptSubEstateId%>.html" data-bigdata="<%= item.DataParams.communtBigDataParams%>">
            <img src="<%= item.estateImgUrl%>?x-oss-process=image/resize,w_120" >
            <p class="name"><%= item.estateName%></p>
            <span class="outline">
                <span><%if(item.completedStr !== "--"){%><%= item.completedStr %> 竣工  | <%}%>  <%= item.totalHouse %></span>
                <span class="iconfont icon-next"></span>
            </span>
            <span class="address"><%= item.estateAddr %></span>
        </a>
         <div class="echart">
             <hr/>
             <div class="panel-header">价格走势</div>
             <div id="main"></div>
         </div>

        <%if(item.sameEstateHouseAmount){%>
             <div >
            <hr/>
            <a class="total-item" href="<%= domain %>/estate/sameEstateHouseList.html?subEstateId=<%= item.encryptSubEstateId %>" data-bigdata="<%= item.DataParams.onSellBigDataParams%>">
                <p>在售房源</p>
                <span>
                    <span><%= item.sameEstateHouseAmount || 0 %> 套</span>
                    <i class="iconfont icon-next"></i>
                </span>
            </a>
        </div>
        <%}%>
        <%if(item.historicalTransactionAmount){%>
           <div >
            <hr/>
            <a class="total-item"  href="<%= domain %>/estate/historicalTransactionList.html?subEstateId=<%= item.encryptSubEstateId %>" data-bigdata="<%= item.DataParams.historyBigDataParams%>">
                <p>成交历史</p>
                <span>
                    <span><%= item.historicalTransactionAmount || 0 %> 套</span>
                    <i class="iconfont icon-next"></i>
                </span>
            </a>
        </div>
        <%}%>
          <div>
            <hr/>
            <%if(item.commentTotal ){%>
              <a class="total-item" href="<%= domain %>/estate/moreComment.html?subEstateId=<%= item.subEstateId %>&commentLocation=1" data-bigdata="<%= item.DataParams.commentBigDataParams%>">
                <p>小区评论</p>
                <span>
                    <span><%= item.commentTotal  %> 条</span>
                    <i class="iconfont icon-next"></i>
                </span>
            </a>
            <%}else{%>
               <div class="total-item">
                <p>小区评论</p>
                <div>
                    <span>当前暂无评论，快来抢沙发吧！</span>
                    <p><a href="<%= domain %>/estate/commentEstate.html?subEstateId=<%= item.subEstateId %>&source=esf&businessId=<%= item.encryptHouseId %>&commentLocation=1&boutique=0&hotSpotId=<%= item.houseId %>" data-bigdata="<%= item.DataParams.goCommentBigDataParams%>">我来点评</a></p>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    <!--地图模块-->
    <%if(item.latitude && item.longitude){%>
       <%- include("../components/map",{ longitude: item.longitude, latitude: item.latitude, address: item.estateAddr, subEstateName:item.subEstateName, mapUrl: item.mapUrl,bigDataParams: item.DataParams.mapBigDataParams }) %>
    <%}%>
   <!-- 相似房源推荐-->
    <%if(item.similarHouses){%>
    <div class="similar wk-panel">
        <div class="panel-header">相似房源推荐</div>
        <div class="panel-body similar-house">
            <%- include("../components/esf-items",{ oldHouseList: item.similarFiveHouses}) %>
        </div>
        <% if(item.similarHouseCount > 5){ %>
        <div class="esf-more">
            <a href="<%= domain %>/esf/similarList.html?enCryptHouseId=<%= item.encryptHouseId %>" data-bigdata="<%= item.DataParams.similarBigDataParams%>">查看更多</a>
        </div>
        <% } %>
    </div>
    <%}%>
</div>

<!--判断房源是否下架-->
<% if(item.houseState == 2 && item.houseAgent){ %>
<%- include("../components/assistant" , { agent: item.houseAgent ,mobileBigDataParams:item.DataParams.mobileBigDataParams, avatarBigDataParams: item.DataParams.avatarBigDataParams ,wxBigDataParams: item.DataParams.wxBigDataParams}) %>
<% }else if (item.houseState == 4 ){ %>
<div class="no-sell">
    <p>该房源已下架</p>
</div>
<% } %>
<%- include("../components/download-app" ,{bigDataParams:item.DataParams.appBigDataParams}) %>
<%- include("../components/footer") %>