<%- include("../components/head") %>
    <input type="hidden" id="storeId" value="<%= storeId %>">
    <div class="wk-tabs">
        <!--头部根据滚动条可以变fixed的内容，包括banner和tabs-handle-->
        <header class="header">
            <dl class="banner">
                <dt class="store-name"><%= store.name %></dt>
                <dd class="market">
                    <span class="hd">周边房源均价</span>
                    <span class="bd"><%= store.avgPrice %></span>
                </dd>
            </dl>        
            <ul class="tabs-handle">
                <li class=""><a>推荐好房</a></li>
                <li class=""><a>推荐经纪人</a></li>                
            </ul>        
        </header>
        <!--两个tabs-frame内容-->
        <div class="tabs-frame wk-panel esf-items">
            <div class="list-container" data-requestable="false"><%- include("../components/esf-items" , { "oldHouseList" : oldHouseList } ) %></div>
        </div>
        <div class="tabs-frame wk-panel agent-items">
            <div class="list-container" data-requestable="false">
                <% agentList && agentList.forEach((agent)=>{ %>
                    <dl class="agent">
                        <dd class="tel"><span><i class="iconfont icon-tel"></i></span><span class="memo">电话咨询</span></dd>
                        <dd class="wechat"><span><i class="iconfont icon-wechat"></i></span><span class="memo">添加微信</span></dd>
                        <dt>
                            <a href="#">
                                <img data-src="<%= agent.agentHeadImgUrl %>?x-oss-process=image/resize,w_120 %>" class="lazy">
                                <div class="summary"><p class="name"><%= agent.agentName %></p><p class="seniority">加入悟空：<%= agent.serviceYears %></p></div>
                            </a>
                        </dt>
                    </dl>
                <% }) ; %>
            </div>
        </div>
        <!--tabs下内容结束-->
    </div>
<%- include("../components/footer") %>