<%- include("../components/head") %>
    
    <div class="wk-tabs">
        <!--tabs-handle部分-->
        <!--此处将页面头部写在wk-tabs是为了更好的实现动画效果-->
        <div class="hd">
            <div class="animation">
                <div class="store">虹桥店</div>
                <div class="near-price">
                    <span class="nearby-house">周边房源均价</span>
                    <span class="house-price">105501元/m²</span>
                </div>
            </div>
            <ul class="tabs-handle wk-panel">
                <li><a>推荐好房</a></li>
                <li><a>推荐经纪人</a></li>
            </ul>
        </div>
        <!--tabs-frame-->
        <!--房源列表-->
        <div class="wk-panel house-list tabs-frame"><%- include("../components/esf-items" , { "oldHouseList" : rentHouseList } ) %></div>
        <!--经纪人列表-->
        <div class="wk-panel agent-list tabs-frame">
            <% for (let i=0; i<agentList.length;i++){
                let item=agentList[i] %>
                <div class="agent-item">
                    <a href="#">
                        <img src="<%= item.url %>?x-oss-process=image/resize,w_120" alt="">
                        <div class="agent-info">
                            <p class="name"><%= item.name %></p>
                            <p class="seniority">加入悟空：<%= item.joinLong %>年</p>
                        </div>
                    </a>
                    <ul class="agent-contact">
                        <li class="wx">
                            <p class="iconfont icon-wechat"></p>
                            <p class="ad-wx">添加微信</p>
                        </li>
                        <li class="tel">
                            <a href="tel:<%= item.tel %>">
                                <p class="iconfont icon-tel"></p>
                                <p class="tel-refer">电话咨询</p>
                            </a>
                        </li>
                    </ul>
                </div>
            <% } %>
        </div>
    </div> 
<%- include("../components/footer") %>