<%/*
    assistant需要以下参数：
    {
        agentName: "", //经纪人姓名
        abbreviation: "", //经纪人所属公司
        agentHeadImgUrl: "", //头像地址
        agentMobile: "", //电话
        agentWChartQRImgUrl: "", //微信号
        ...
    }

    使用方法：
    include("../components/assistant.ejs", {...})
*/%>
<% let agent = {agentName:"王小五", abbreviation:"志远地产", agentHeadImgUrl:"", agentMobile: "998555" , agentWChatId : "huagang_zhao" , agentWChartQRImgUrl:"http://www.eccn.com/events/2017/osram/images/weixin.gif"};%>
<div class="assistant">
        <a class="portrait" href="#">
            <div class="left">
                <img src="<%= agentHeadImgUrl%>">    
            </div>
            <div class="right">
                <div class="name"><%= agentName%></div>
                <div class="company-name"><%= abbreviation%></div>
            </div>                        
        </a>
        <% if(agentWChatId) { %><a class="wx" data-agentwchartqrimgurl="<%= agentWChartQRImgUrl %>" data-agentwchatid="<%= agentWChatId %>">添加微信</a><% } %>
        <%}%>
        <a href="tel:<%= agentMobile%>" class="phone">电话咨询</a>
</div>

