<%/*
    assistant需要以下参数：
    {
        agentName: "", //经纪人姓名
        abbreviation: "", //经纪人所属公司
        agentHeadImgUrl: "", //头像地址
        agentMobile: "", //电话
        agentWChartQRImgUrl: "", //微信号Url
        agentWChatId: "", //微信号

        mobileBigDataParams: "", //电话埋点参数
        avatarBigDataParams: "", //头像点击埋点参数
        wxBigDataParams: "", //点击添加微信埋点数据
        ...
    }

    使用方法：
    include("../components/assistant.ejs", {...})

    
*/%>
<%
     mobileBigDataParams= typeof(mobileBigDataParams) == 'undefined' ? "" : mobileBigDataParams; //电话埋点参数
     avatarBigDataParams =   typeof(avatarBigDataParams) == 'undefined' ? "" : avatarBigDataParams; //头像点击埋点参数
     wxBigDataParams = typeof(wxBigDataParams) == 'undefined' ?  "" : wxBigDataParams; //点击添加微信埋点数据
%>
<%if(agent){%>
<div class="assistant">
        <a class="portrait" href="<%= agent.url || 'javascript:void()'%>" data-bigdata="<%= avatarBigDataParams%>">
            <div class="left">
                <img src="<%= agent.headRoundImgUrl%>">    
            </div>
            <div class="right">
                <div class="name"><%= agent.agentName%></div>
                <div class="company-name"><%= agent.abbreviation%></div>
            </div>                        
        </a>
        <% if(agent.agentWChatId) { %><a class="wx" data-agentwchartqrimgurl="<%= agent.agentWChartQRImgUrl %>" data-agentwchatid="<%= agent.agentWChatId %>" data-bigdata="<%= wxBigDataParams%>">添加微信</a><% } %>        
        <a href="tel:<%= agent.agentMobile%>" class="phone" data-bigdata="<%= mobileBigDataParams%>">电话咨询</a>
</div>
<%}%>

