<% oldHouseList && oldHouseList.forEach(function(esf){ %>
    <a href="<%= esf.url %>" class="esf-item" data-bigdata="<%= esf.bigDataParams %>">
        <dl>
            <dt><img data-src="<%= esf.houseImgUrl %>?x-oss-process=image/resize,w_150" alt="<%= esf.estateName %>" class="lazy"></dt>
            <dd class="title"><%= esf.houseTitle %></dd>
            <dd>
                <span class="layout"><%= esf.houseChild %> <%= esf.areaStr %></span>|<span class="location"><%= esf.district %> <%= esf.town %></span>                
            </dd>
            <dd class="tags">                
                <% if(esf.isStorePush === 1) { %><span>店长推荐</span>
                <% } else if(esf.commAgent > 0) { %><span>急售</span><% } %>                
                <% if(esf.fullYears >= 5 && esf.onlyOne == 1) { %><span>满五唯一</span><% } %>
                <% if(esf.fullYears >= 2) { %><span>满二</span><% } %>
                <% if(esf.isSubwayHouse === 1) { %><span>地铁</span><% } %>
                <% if(esf.isSchoolHouse === 1) { %><span>近学校</span><% } %>
                <% if(esf.isNewOnStore === 1) { %><span>新上</span><% } %>
                <% if(esf.orientation === 9) { %><span>南北通透</span><% } %>
            </dd>   
            <dd>
                 <span class="money"><%= esf.totalPrice %> 万</span>
                 <span class="price"><%= esf.unitPrice %> 元/㎡</span>
            </dd>                             
        </dl>
    </a>
<% }) ; %>
