<% oldHouseList && oldHouseList.forEach(function(esf){ %>
    <a href="<%= esf.url %>" class="esf-item" data-bigdata="<%= esf.bigDataParams %>">
        <dl>
            <dt>
                <img src="<%= appStaticPrefix %>/images/common/loading.jpg" data-src="<%= esf.houseImgUrl %>?x-oss-process=image/resize,w_150" alt="<%= esf.estateName %>" class="lazy">
                <% if(esf.hasVideo == 1) { %><span class="play"></span><% } %>
            </dt>
            <dd class="title"><%= esf.houseTitle %></dd>
            <dd><%= esf.houseChild %> <%= esf.areaStr %> | <%= esf.district %> <%= esf.town %></dd>
            <dd class="tags"><%- include("./esf-tags" , { "tagList" : esf.tagList }) %></dd>   
            <dd><span class="money"><%= esf.totalPrice %></span> <span class="unit">万</span>&nbsp;<span class="price"><%= esf.unitPrice %> 元/㎡</span></dd>
        </dl>
    </a>
<% }) ; %>