        <!--页面脚本区域-->        
        <script src="<%= appStaticPrefix %>/js/app.min.js"></script>
        <% 
            if(extraJavascripts) {
                extraJavascripts.forEach(function(extraJavascript){
         %>
        <script src="<%= extraJavascript %>"></script>
        <% }) } ; %>             
        <% if(matchJavascript) { %><script data-main="<%= appStaticPrefix %>/js/<%= matchJavascript %>.min.js" src="<%= utilStaticPrefix %>/wkzf/js/require.min.js"></script><% } %>        
    </body>
</html>