<%# 
    参数：
    {
        rentItems: [{
            ...//别的参数按照参数就好了
            bigDataParams: "", //点击事件埋点
            url: "", //跳转路径
        }]
    }
%>
    <%if(rentItems && rentItems.length > 0){
        for(let i = 0; i < rentItems.length; i++){
            let item = rentItems[i];
    %>        
        <a data-bigdata="<%= item.bigDataParams%>" class="rent-item box" href="<%= item.url%>">
            <div class="left">
                <img data-src="<%= item.firstImageUrl %>" alt="<%= item.estateName %>" class="lazy">
            </div>
            <div class="right">
                <h4><%= item.houseTitle%></h4>
                <p class="base-info">                    
                    <%= item.houseTypeStr%> <%= item.spaceArea%>㎡ | <%= item.districtAndTownName%>
                </p>

                <p class="tags">
                    <%if(item.houseTag){%>
                        <%if(item.houseTag.isSubwayHouse){%><span class="tag">近地铁</span><%}%><%if(item.houseTag.isPriceDown){%><span class="tag">降价</span><%}%><%if(item.houseTag.isNewHouse){%><span class="tag">新上</span><%}%><%if(item.houseTag.isHardcover == 1){%><span class="tag">精装</span><%}%><%if(item.houseTag.isHardcover == 2){%><span class="tag">豪装</span><%}%><%if(item.houseTag.isSouth){%><span class="tag">朝南</span><%}%>                    
                    <%}%>
                </p>
                <p class="unit-price">
                    <%= item.rentPriceStr%> 元/月
                </p>
            </div>
        </a>
    <%
        }    
    %>
    <%}%>    
