<% rentItems && rentItems.forEach(function(item) { %>
    <a data-bigdata="<%= item.bigDataParams %>" class="rent-item box" href="<%= item.url %>">
        <div class="left">
            <img data-src="<%= item.firstImageUrl %>" alt="<%= item.estateName %>" class="lazy">
            <% if( item.houseTag.hasVideo == 1 ) { %><span class="play"></span><% } %>
            <% if( item.houseTag.isZeroCommission) { %><span class="commission">0 佣金</span><%}%>
        </div>
        <div class="right">
            <h4><%= item.houseTitle %></h4>
            <p class="base-info"><%= item.houseTypeStr %>  <%= item.spaceArea %>㎡ | <%= item.districtAndTownName %></p>
            <% if( item.distanceSubway) { %><p class="base-info"><%= item.distanceSubway %></p><% } %>
            <%- include("./rent-tags" , { "houseTag" : item.houseTag }) %>            
            <p class="unit-price"><span><%= item.rentPriceStr%></span>  元/月</p>
        </div>
    </a>
<% }) ; %>