<!--租房具体房源列表-->

<% rentItem && rentItem.forEach(function(item){ %>
<div class="single-house">
    <div class="house-detail">
        <div class="pic">
            <img src="<%= item.firstImageUrl%>" alt="">
        </div>
        <div class="desc">
            <h3><%=item.subEstateName%></h3>
            <p class="posit"><%=item.spaceArea%>㎡  |  <%=item.orientationStr || '--'%>  |  <%=item.renovationStr || '--'%> | <%=item.houseTypeStr%></p>
            <ul>
                <li>奖励</li>
                <li>奖励</li>
                <li>奖励</li>
                <li>奖励</li>
            </ul>
            <p class="price"><%=item.rentPrice%> 元/月</p>
        </div>
    </div>
    <div class="share-detail">
        <p class="share-time">发布 <%=item.publishHouseTime%></p>
        <p class="share">
            <span>浏览 <%=item.browseCount%></span>
            <span>收藏 <%=item.lookCount%></span>
            <span>分享 <%=item.shareCount%></span>
        </p>
    </div>
</div>

<% }) ; %>