<%#
    需要参数：
    {
        comments: []
    }
%>
<%
    let items = comments;
%>
<div class="subestate-comments">
    <%if(items && items.length > 0){
        for(let i = 0; i < items.length; i++){     
        let item = items[i];    
    %>
    <div class="subestate-comment box">
        <div class="left">
            <img src="<%= item.guest.avatar.url%>">
        </div>
        <div class="right">
            <p class="mobile">
                <%= item.guest.guestPhoneNum%>
            </p>
            <p class="datetime">
                <%= item.createTimeStr%>
            </p>
            <div class="content">
                <%= item.comment%>
                <%if(item.imgList && item.imgList.length > 0){
                    let loopCount = Math.ceil(item.imgList.length /3);
                    for(let c = 0; c < loopCount; c++){
                %>
                    <div class="imgs">
                <%
                    for(let i = 0; i < 3 && ( (3*c +i) < item.imgList.length); i++){
                        let img = item.imgList[3*c +i];
                %><div class="img"><img class="preview-image-item" src="<%= img.url%>" ></div><%}%>
                </div>
                <%
                } }
                %>
            </div>
            <hr>
        </div>
    </div>    

    <%}}else{%>
     <div class="no-data">当前暂无评论</div>
    <%}%>
</div>