<% newHouseList && newHouseList.forEach(function(xf){ %>
    <a href="<%= xf.url %>" class="xf-item" data-bigdata="<%= xf.bigDataParams %>">
        <dl>
            <dt><img src="<%= xf.imageUrl %>?x-oss-process=image/resize,w_150" class="img-responsive" alt="<%= xf.estateName %>"></dt>
            <dd class="title"><%= xf.estateName %></dd>
            <dd class="summary"> <%= xf.districtName %> <%= xf.townName %> <%= xf.startSpace %>-<%= xf.endSpace %> ㎡ </dd>            
            <dd class="tags">
                <% if( xf.isSoonOpen === '1' ) { %><span>即将开盘</span>
                <% } else { %><span>在售楼盘</span><% } %>
                <% if( xf.hasActivity === '1' ) { %><span>有优惠</span><% } %>
                <% if( xf.isSubwayEstate === '1' ) { %><span>地铁</span><% } %>
                <% if( xf.hasVideo === '1' ) { %><span>有视频</span><% } %>                                 
            </dd>
            <dd class="price"><%= xf.avgPriceWou %> 元/㎡</dd>
        </dl>
    </a>
<% }) ; %>
