<% items && items.forEach(function(item) { %>
    <a class="xf-item" href="<%= item.url%>" data-bigdata="<%= item.bigDataParams %>">
        <div class="img">
            <img src="<%= appStaticPrefix %>/images/common/loading.jpg" class="lazy" data-src="<%= item.imageUrl%>">
            <% if( item.hasVideo  == 1) { %><span class="play"></span><% } %>
            <% if(item.activitys && item.activitys[0]) { %>
                <div class="yh"><%= item.activitys[0].title %></div>
            <%}%>
            <% if(item.isHot) { %><div class="hot"><span>热销</span></div><% } %>
        </div>
        <div class="info">
            <h3><%= item.estateName %></h3>
            <p class="district-town-area">
                <span><%= item.districtName + " " + item.townName %></span><span><%= item.startSpace %>m²-<%= item.endSpace %>m²</span>
            </p>
            <%- include("./xf-tags" , { "item" : item }) %>            
            <p class="unit-price"><span class="<%= item.avgPriceWou=='0'&&'normal'||''%>"><%= item.avgPriceWou != '0'? item.avgPriceWou : '价格待定' %></span> <%if(item.avgPriceWou!='0'){%><span>元/m²</span><%}%></p>
        </div>
    </a>
<% }) ; %>
