<%if(items && items.length){%>
    <%for(var i = 0; i < items.length; i++){%>
        <% let item = items[i]; %>
        <a class="xf-item" href="<%= item.url%>" data-bigdata="<%= item.bigDataParams %>">
            <div class="img">
                <img src="<%= appStaticPrefix %>/images/common/loading.jpg" class="lazy" data-src="<%= item.imageUrl%>">
                <% if( item.hasVideo  == 1) { %><span class="play"><i></i></span><% } %>
                <%if(item.activitys && item.activitys[0]){%>
                    <div class="yh"><%= item.activitys[0].title%></div>
                <%}%>                
            </div>
            <div class="info">
                <h3><%= item.estateName%></h3>
                <p class="district-town-area">
                    <span><%= item.districtName + " " + item.townName%></span><span><%= item.startSpace%>m²-<%= item.endSpace%>m²</span>
                </p>
                <ul class="tags">
                    <%if(item.hasActivity=="1"){%><li class="yh">有优惠</li><%}%><%if(item.isSubwayEstate=='1'){%><li class="dt">近地铁</li><%}%><%if(item.isOnSale=='1' && item.isSoonOpen != '2'){%><li class="">在售楼盘</li><%} else {%><li class="">即将开盘</li><%}%><%if(item.hasVideo=='1'){%><li class="">有视频</li><%}%>
                </ul>
                <p class="unit-price"><span class="<%= item.avgPriceWou=='0'&&'normal'||''%>"><%= item.avgPriceWou != '0'? item.avgPriceWou : '价格待定' %></span> <%if(item.avgPriceWou!='0'){%><span>元/m²</span><%}%></p>
            </div>
        </a>
    <%}%>    
<%}%>
