<%- include("../../components/head") %>
<div class="container">
    <!--  头部header部分-->
    <div class="header">
        <div class="left">
            <a href="/public/city/select?businessType=newTrend&channel=<%= item.channel%>">
                <span class="city-name"><%=item.housePrice.name%></span>
            </a>
            <i></i>
        </div>
        <div class="middle">
            <ul>
                <li><a href="/trend/esf/community/<%=item.housePrice.regionId%>">二手房</a> </li>
                <li><a href="/trend/new/community/<%=item.housePrice.regionId%>">新房</a> </li>
            </ul>
        </div>
        <div class="right">
            <i class="iconfont icon-search"></i>
        </div>
    </div>
    <!-- 描述-->
    <div class="description">
        <h3><%= item.housePrice.name %></h3>
        <div class="description-detail">
            <div class="unit-price">
                <span>最新均价</span>
                <p><%= item.housePrice.avgPrice %> 元/㎡</p>
            </div>
            <div class="up-down">
                <span>环比上月</span>
                <p><%= item.housePrice.increase %></p>
            </div>
            <div class="tot-house">
                <a href="/<%=item.cityPinYin%>/esf">
                    <span>在售房源</span><i class="iconfont icon-next"></i>
                    <p><%= item.housePrice.houseCount %> 套</p>
                </a>
            </div>
        </div>
    </div>
    <!-- 价格走势-->
    <div class="echart wk-panel" data-echart="<%=JSON.stringify(item.priceTrendChartList)  %>">
        <div id="main"></div>
    </div>
    <!--板块模块信息-->
    <% if(item.houseList && item.houseList.length > 0) { %>
    <div class="district-town wk-panel">
        <div class="panel-header">小区在售房源</div>
        <hr>
        <div class="wk-body flag">
            <%- include("../../components/esf-items" , { "oldHouseList" : item.houseList } ) %>
            <a class="more-esf" href="">查看更多</a>
        </div>
    </div>
    <div class="wk-panel">
        <hr>
        <div class="panel-header more-link"><a href="">小区详情 <i class="iconfont icon-next"></i></a> </div>
        <hr>
        <div class="panel-header more-link"><a href="">成交历史<i class="iconfont icon-next"></i></a> </div>
    </div>
    <% } %>
</div>
<%- include("../../components/trend-search") %>

<%- include("../../components/footer") %>