<%- include("../../components/head") %>
<%if(BusinessSpurt){%>
<div class="container">
    <!--  头部header部分-->
    <div class="header">
        <div class="left">
            <a href="/public/city/select?businessType=newTrend&channel=<%= item.channel%>">
                <span class="city-name"><%= item.cityName%></span>
            </a>
            <i></i>
        </div>
        <div class="middle">
            <ul>
                <li><a href="/<%= item.cityPY%>/trend/esf/district/<%=item.regionId%>">二手房</a> </li>
                <li><a href="/<%= item.cityPY%>/trend/new/district/<%=item.regionId%>">新房</a> </li>
            </ul>
        </div>
        <div class="right">
            <i class="iconfont icon-search"></i>
        </div>
    </div>
    <!-- 描述-->
    <%if(item.housePrice){%>
    <div class="description">
        <h3><%= item.housePrice.name %></h3>
        <div class="description-detail">
            <div class="unit-price">
                <span>最新均价</span>
                <p><%if (item.housePrice.avgPrice){%><%= item.housePrice.avgPrice %>  元/㎡ <%}else{%> 价格待定<%}%></p>
            </div>
            <div class="up-down">
                <span>环比上月</span>
                <p><%= item.housePrice.increase %></p>
            </div>
            <div class="tot-house">
                <a href="/<%=item.cityPY%>/xflist/di-<%=item.regionId%>?channel=<%=item.channel%>">
                    <span>在售楼盘</span><i class="iconfont icon-next"></i>
                    <p><%= item.housePrice.houseCount %> 套</p>
                </a>
            </div>
        </div>
    </div>
    <% }%>
    <!-- 价格走势-->
<!--    <%if(item.priceTrendChartList){%>
    <div class="echart wk-panel" data-echart="<%=JSON.stringify(item.priceTrendChartList)  %>">
        <div id="main"></div>
    </div>
    <% }%>-->
    <%if( item.priceList && item.priceList.length > 0){%>
    <!--板块模块信息-->
    <div class="district-town wk-panel">
        <div class="panel-header">当前各板块参考价格<a href="/<%=item.cityPY%>/xflist/di-<%=item.regionId%>?channel=<%=item.channel%>"><span>查看所有房源<i class="iconfont icon-next"></i></span></a></div>
        <div class="wk-body flag">
            <ul>
                <li class="top-name"> <span>板块名称</span><span class="unit-price">楼盘数</span><span>参考均价</span></li>
                <%item.priceList && item.priceList.forEach(function (itemL,index) {%>
                <li class="content" >
                    <a href="/<%= item.cityPY%>/trend/new/town/<%= itemL.regionId %>">
                        <p><%= itemL.name %> </p>
                        <p class="unit-price"><%= itemL.houseCount %></p>
                        <p ><%if (itemL.avgPrice == "价格待定" || itemL.avgPrice == null) { %> 价格待定 <% }else {%><%= itemL.avgPrice %> 元/㎡<%}%></p>
                    </a>
                </li>
                <%})%>
            </ul>
        </div>
    </div>
    <% } else {%>
      <img src="https://cdn.wkzf.com/wkwap_fe/img/source/price/Group.png" alt="">
    <% }%>

</div>
<%}%>
<!--招商页面-->
<div class="notopen-investment " style=" <%if(BusinessSpurt){%> display: none <%} else {%> display: block <%}%>">
    <p><img src="<%= appStaticPrefix %>/images/common/notopen.png"></p>
    <p>
        <span class="current-city"><%= item.cityName %></span>
        <span>暂无房价数据</span>
    </p>
    <p>
        <span>先看看其他城市的房价</span>
        <a href="/public/city/select?businessType=newTrend&channel=<%= item.channel%>" class="change">切换城市</a>
    </p>
    <a href="https://m.wkzf.com/citywap/index.html" class="apply">城市加盟申请</a>
    <div class="contact">
        <dl>
            <dt><i class="iconfont icon-logotuxing"></i></dt>
            <dd>共享今日头条7亿流量</dd>
            <dd>联系我们：4008215365</dd>
        </dl>
    </div>
</div>
<%- include("../../components/trend-search") %>

<%- include("../../components/footer") %>