<%- include("../components/head")%>

<div class="details-container">
    <div class="details-Info">
        <div class="title"><%= item.articleDetailModel.title%></div>
        <div class="article-info">
            <div class="left"><span><%= item.articleDetailModel.publishTime%></span></div>
            <div class="right"><span><%= item.articleDetailModel.viewNumStr%></span>次浏览</div>
        </div>
        <div class="article-content">
            <%- item.articleDetailModel.content%>
        </div>
    </div>
    <div class="comment mt-10" id="comment-box">
        <div class="title">
            评论（<span class="count"><%= item.articleDetailModel.commentNumStr%></span>）
        </div>
        <div class="comment-list">
        </div>
        <div class="pagination">
        </div>
    </div>
</div>
<input type="hidden" id="articleId" value="<%= item.articleDetailModel.articleId%>">
<input type="hidden" id="coverUrl" value="<%= item.articleDetailModel.coverUrl%>">
<input type="hidden" id="wechatTitle" value="<%= item.articleDetailModel.shareTitle%>">
<input type="hidden" id="wechatContent" value="<%= item.articleDetailModel.shareContent%>">
<input type="hidden" id="wechatImgUrl" value="<%= item.articleDetailModel.shareImageUrl%>">
<%- include("../components/footer")%>