<%- include("../components/head") %>
<header>经纪人</header>
<!--经纪人概况精华部分-->
<div class="wk-panel highlight">
    <div class="panel-body">
        <dl class="card">
            <dt><img src="<%= agent.agentHeadImgUrl %>" alt=""></dt>
            <dd>
                <div class="agent-name">
                    <span class="name"><%= agent.agentName %></span>
                    <% if(agent.isWellAgent) { %><span class="good">好</span><% } %>
                </div>
                <div class="sign">
                    <% if(agent.agentVerifiedStatus) { %><span>通过认证</span><i class="iconfont icon-authen"></i><% } %>
                </div>
            </dd>
            <dd class="company"><%= agent.agentBelongToCompanyName %></dd>
            <dd class="tags">
                <% agent.wellAgentBizMessageList.forEach(function(wellAgentTag){ %>
                <span><%= wellAgentTag %></span>
                <% }) ; %>                
            </dd>
        </dl>
        <div class="more">查看更多</div>
        <div class="optional">
            <dl class="panel-item">
                <dt>熟悉商圈：</dt>
                <dd><%= agent.agentBizTown %></dd>
            </dl>
            <% if(agent.agentIntroduction) { %>
            <dl class="panel-item">
                <dt>自我介绍：</dt>
                <dd class="long-text"><%= agent.agentIntroduction %></dd>
                <dd class="switch"><i class="iconfont icon-down"></i></dd>
            </dl>
            <% } %>
            <% if(agent.agentStory) { %>
            <dl class="panel-item">
                <dt>成交故事：</dt>
                <dd class="long-text"><%= agent.agentStory %></dd>
                <dd class="switch"><i class="iconfont icon-down"></i></dd>
                <% if(agent.myBizStoryImgUrls) { %>
                <dd class="picts">
                    <% agent.myBizStoryImgUrls.forEach(function(pict){ %>
                    <img src="<%= pict %>">
                    <% }) ; %>                    
                </dd>
                <% } %>     
            </dl>
            <% } %>
        </div>
    </div>
</div>
<!--三个tabs部分-->
<div class="wk-tabs top-gap">
    <!--tabs-handle部分-->
    <% if(tabsCount > 1) { %>
    <ul class="wk-panel tabs-handle">
        <% if(oldHouseList && oldHouseList.length > 0) { %><li data-bigdata="<%= bigDataParams.esfTab %>"><a href="javascript:; ">推荐二手房</a></li><% } %>
        <% if(newHouseList && newHouseList.length > 0) { %><li data-bigdata="<%= bigDataParams.xfTab %>"><a href="javascript:; ">推荐新房</a></li><% } %>
        <% if(rentHouseList && rentHouseList.length > 0) { %><li data-bigdata="<%= bigDataParams.rentTab %>"><a href="javascript:; ">推荐租房</a></li><% } %>
    </ul>
    <% } %>
    <!--tabs-frame部分-->
    <% if(oldHouseList && oldHouseList.length > 0) { %><div class="wk-panel tabs-frame"><%- include("../components/esf-items" , { "oldHouseList" : oldHouseList } ) %></div><% } %>
    <% if(newHouseList && newHouseList.length > 0) { %><div class="wk-panel tabs-frame"><%- include("../components/xf-items" , { "newHouseList" : newHouseList } ) %></div><% } %>
    <% if(rentHouseList && rentHouseList.length > 0) { %><div class="wk-panel tabs-frame rent-frame"><%- include("../components/rent-items" , { "rentItems" : rentHouseList } ) %></div><% } %>
    <!--tabs-frame内容结束-->
</div>
<!--下面这个隐藏域是在埋点的时候取得agent_id参数用的-->
<input type="hidden" id="agentId" value="<%= agentId %>">
<%- include("../components/assistant", agent) %>
<%- include("../components/footer") %>