<%- include("../components/head") %>
<header>
    <i class="iconfont icon-back"></i>
    经纪人
</header>
<!-- 底部助手条 --> 
<%- include( "../components/assistant" , {
        agent : agent , 
        mobileBigDataParams : bigDataParams && bigDataParams.phone ,
        wxBigDataParams : bigDataParams && bigDataParams.wx
} ) %>
<!--经纪人概况精华部分-->
<div class="wk-panel highlight">
    <div class="panel-body">
        <div class="card">
            <div class="agent-pic"><img src="<%= agent.agentHeadImgUrl %>" alt="<%= agent.agentName %>"></div>
            <div class="agent-info">
                <div class="agent-name">
                    <span class="name"><%= agent.agentName %></span>
                    <span class="company">| <%= agent.agentBelongToCompanyName %></span>
                </div>
                <% if(agentCommentCount) { %>
                <div class="star">
                    <% if(shi) {  for(var i = 0; i< shi; i++){%>
                         <i class="iconfont icon-quanxing"></i>
                    <% }} %>
                   <!-- <i class="iconfont icon-banxing"></i>-->
                    <% if(kong) {  for(var i = 0; i< kong; i++){%>
                         <i class="iconfont icon-kongxin"></i>
                    <% }} %>
                    <span><%=objScore %></span>
                    <a href="/space/appraise/<%= agentId %>">全部评价<i class="iconfont icon-next"></i></a>
                </div>
            <% } %>
            </div>
        </div>
        <hr>
        <div class="agent-dec">
            <div class="house-num">
                <span>房源数</span>
                <p><%= agent.houseCount %> 套</p>
            </div>
            <div class="serve-num">
                <span>服务客户数</span>
                <p><%= agent.customerCount %> 人</p>
            </div>
            <div class="serve-year">
                <span>入驻悟空</span>
                <p><%= agent.serviceYears %></p>
            </div>
        </div>
        <hr>
        <div class="familiar">
            <p class="name">熟悉商圈    <% if(agent.agentStory || agent.agentIntroduction) { %><a href="/space/summary/<%= agentId %>">查看更多<i class="iconfont icon-next"></i></a><% } %></p>
            <p class="dec"><%= agent.agentBizTown%></p>
        </div>
    </div>
</div>
<!--三个tabs部分-->
<div class="wk-tabs top-gap">
    <!--tabs-handle部分-->
    <% if((oldHouseList && oldHouseList.length > 0) || (newHouseList && newHouseList.length > 0) || (rentHouseList && rentHouseList.length > 0)) { %>
    <% if(tabsCount > 1) { %>
    <ul class="wk-panel tabs-handle">
        <% if(oldHouseList && oldHouseList.length > 0) { %><li data-bigdata="<%= bigDataParams.esfTab %>" data-typehouse="secondHouseList"><a href="javascript:; ">在售二手房</a></li><% } %>
        <% if(newHouseList && newHouseList.length > 0) { %><li data-bigdata="<%= bigDataParams.xfTab %>" data-typehouse="newHouseList"><a href="javascript:; ">在售新房</a></li><% } %>
        <% if(rentHouseList && rentHouseList.length > 0) { %><li data-bigdata="<%= bigDataParams.rentTab %>" data-typehouse="rentHouseList"><a href="javascript:; ">在租房源</a></li><% } %>
    </ul>
    <% } %>
    <!--tabs-frame部分-->
    <% if(oldHouseList && oldHouseList.length > 0) { %><div class="wk-panel tabs-frame "><div class="esf-frame"> <%- include("../components/esf-items" , { "oldHouseList" : oldHouseList } ) %></div></div><% } %>
    <% if(newHouseList && newHouseList.length > 0) { %><div class="wk-panel tabs-frame "><div class="xf-frame"> <%- include("../components/xf-items" , { "items" : newHouseList } ) %></div></div><% } %>
    <% if(rentHouseList && rentHouseList.length > 0) { %><div class="wk-panel tabs-frame "><div class="rent-frame"> <%- include("../components/rent-items" , { "rentItems" : rentHouseList } ) %></div></div><% } %>
    <!--tabs-frame内容结束-->
    <% } else {%>
    <%- include("../components/store-nodata",{ "wordOne" : "房源正在努力录入中哦~","wordTwo":"晚些再来扫一扫吧" ,"linkFlag": false }  ) %>
    <% } %>
</div>
<!--下面这个隐藏域是在埋点的时候取得agent_id参数用的-->
<input type="hidden" id="agentId" value="<%= agentId %>">
<%- include("../components/footer") %>