<%- include("../components/head") %>
<header>经纪人</header>
<!--经纪人概况精华部分-->
<div class="wk-panel highlight">
    <div class="panel-body">
        <dl class="card">
            <dt><img src="<%= agent.agentHeadImgUrl %>" alt=""></dt>
            <dd>
                <div class="agent-name">
                    <span class="name"><%= agent.agentName %></span>
                    <% if(agent.isWellAgent) { %><span class="good">好</span><% } %>
                </div>
                <div class="volume">
                    <i class="iconfont"></i>
                    <span>成交 <%= agent.agentVolume %> 套</span>
                </div>
            </dd>
            <dd class="company"><%= agent.agentBelongToCompanyName %></dd>
            <dd class="tags">
                <% agent.wellAgentBizMessageList.forEach(function(wellAgentTag){ %>
                <span><%= wellAgentTag %></span>
                <% }) ; %>                
            </dd>
        </dl>
        <div class="more">查看更多</div>
        <div class="optional">
            <dl class="panel-item">
                <dt>熟悉商圈：</dt>
                <dd><%= agent.agentBizTown %></dd>
            </dl>
            <dl class="panel-item">
                <dt>自我介绍：</dt>
                <dd class="long-text"><%= agent.agentIntroduction %></dd>
                <dd class="switch"><i class="iconfont icon-down"></i></dd>
            </dl>
            <dl class="panel-item">
                <dt>成交故事：</dt>
                <dd class="long-text"><%= agent.agentStory %></dd>
                <dd class="switch"><i class="iconfont icon-down"></i></dd>                
            </dl>
        </div>
    </div>
</div>
<!--三个tabs部分-->
<div class="wk-tabs top-gap">
    <!--tabs-handle部分-->
    <ul class="wk-panel tabs-handle">
        <li class="on">推荐二手房</li>
        <li>推荐新房</li>
        <li>推荐租房</li>
    </ul>
    <!--tabs-frame部分-->
    <div class="wk-panel tabs-frame"><%- include("../components/esf-items") %></div>
    <div class="wk-panel tabs-frame"><%- include("../components/xf-items") %></div>
    <div class="wk-panel tabs-frame"></div>
    <!--tabs-frame内容结束-->
</div>
<%- include("../components/assistant", agent) %>
<%- include("../components/footer") %>