<%- include("../components/head") %>
<%
    // let item = {
    //     // houseVideos: {
    //     //     imageUrl: "https://img.wkzf.com/112f72a5248942ec972bdeb4788cb4c2.DL",
    //     //     videoUrl: "http://v.wkzf.com/06f91e10db774e6c81195736c84e399aWV.mp4"
    //     // },
    //     imgList: ["https://img.wkzf.com/f56d971975104155951971ce060b5cf4.DL","https://img.wkzf.com/f56d971975104155951971ce060b5cf4.DL","https://img.wkzf.com/f56d971975104155951971ce060b5cf4.DL","https://img.wkzf.com/f56d971975104155951971ce060b5cf4.DL","https://img.wkzf.com/f56d971975104155951971ce060b5cf4.DL"], 
    //     district: "黄浦区",
    //     town: "小东门街道",
    //     propertyRight: 70,
    //     completedStr: 2010,
    //     totalHouse: 990,
    //     propertyType: "住宅",
    //     propertyCharges: "4.9",
    //     greenRate: 35,
    //     volumeRate: 3.5,
    //     propertyCompany: "戴德梁行",
    //     developers: "上海中建房地产开发公司",
    //     subwayName: "9号线[ 杨高中路-松江南路 ]",
    //     schoolName: "上海市上文中学",

    //     commentList: [{                        
    //         createTimeStr: "2015-06-03 12:02:01",
    //         comment: "南北通透 南北通透 南北通透 南北通透 南北通透 南北通透",
    //         guest: {
    //             guestPhoneNum: "15586952363",
    //             avatar: "https://imgwater.oss.aliyuncs.com/258377fe0a9c4e54b8976447398fe6fb",
    //         },
    //         imgList:[{
    //             url: "https://img.wkzf.com/e70897fee403418bb6903462fb3d7d5d.DW"
    //         },{
    //             url: "https://img.wkzf.com/e70897fee403418bb6903462fb3d7d5d.DW"
    //         },{
    //             url: "https://img.wkzf.com/e70897fee403418bb6903462fb3d7d5d.DW"
    //         }]
    //     }]
    // };

    //合并视频和图片
    // var imgList = [];
    // if(item.houseVideos){
    //     imgList.push({
    //         isVideo: true,
    //         url: item.houseVideos.videoUrl,
    //         imageUrl: item.houseVideos.imageUrl
    //     });
    // }
    // if(item.imgList && item.imgList.length > 0){
    //     for(let i = 0; i < item.imgList.length; i++){
    //         imgList.push({
    //             url: item.imgList[i]
    //         });
    //     }
    // }
    // item.imgList = imgList;
%>

<div class="content-wrapper has-assistant">
    <!-- 轮播图片 -->
    <div class="wk-panel remove-left-padding">
        <%- include("../components/album",{imgList: item.imgList})%>
    </div>

    <div class="wk-panel has-right-padding">
        <div class="panel-body one-column-container">
            <dl>
                <dt>
                    所属板块
                </dt>
                <dd>
                    <%= item.district%> <%= item.town%>
                </dd>
            </dl>
            <dl>
                <dt>
                    产权年代
                </dt>
                <dd>
                    <%= item.propertyRight%>年
                </dd>
            </dl>
            <dl>
                <dt>
                    竣工年代
                </dt>
                <dd>
                    <%= item.completedStr%>年
                </dd>
            </dl>
            <dl>
                <dt>
                    房屋总数
                </dt>
                <dd>
                    <%= item.totalHouse%>户
                </dd>
            </dl>
            <dl>
                <dt>
                    物业类型
                </dt>
                <dd>
                    <%= item.propertyType%>
                </dd>
            </dl>
            <dl>
                <dt>
                    物业费
                </dt>
                <dd>
                    <%= item.propertyCharges%> 元/㎡/月
                </dd>
            </dl>
            <dl>
                <dt>
                    绿化率
                </dt>
                <dd>
                    <%= item.greenRate%>%
                </dd>
            </dl>
            <dl>
                <dt>
                    容积率
                </dt>
                <dd>
                    <%= item.volumeRate%>
                </dd>
            </dl>
            <dl>
                <dt>
                    物业公司
                </dt>
                <dd>
                    <%= item.propertyCompany%>
                </dd>
            </dl>
            <dl>
                <dt>
                    开发商
                </dt>
                <dd>
                    <%= item.developers%>
                </dd>
            </dl>
            <div class="has-bottom-border"></div>            
            <dl>
                <dt>
                    地铁
                </dt>
                <dd>
                    <%= item.subwayName%>
                </dd>
            </dl>
            <dl>
                <dt>
                    学校
                </dt>
                <dd>
                    <%= item.schoolName%>
                </dd>
            </dl>
        </div>
    </div>

    <div class="wk-panel has-right-padding top-gap">
        <div class="panel-header">
            小区评论
        </div>
        <div class="panel-body">
            <%- include("../components/subestate-comments",{comments: item.commentList})%>
        </div>
    </div>

    <%- include("../components/map",{address:"地址是",subEstateName:"",longitude: 131, latitude: 32})%>
</div>
<%- include("../components/footer") %>