<div class="xf-ads">
    <div class="swiper-container pict-ads">
        <div class="swiper-wrapper">
            <% xfAds && xfAds.pict && xfAds.pict.forEach(function(ads){ %>
                <a class="swiper-slide" href="<%= ads.url %>" data-bigdata="<%= bigDataParams.xfAds.pict %>"><img src="<%= ads.imgUrl %>"></a>
            <% }) ; %>                             
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="text-ads">
        <div class="logo"><img src="<%= appStaticPrefix %>/images/xf/headline.png"></div>
        <div class="fence"></div>
        <div class="items swiper-container">
            <div class="swiper-wrapper">
                <% xfAds && xfAds.text && xfAds.text.forEach(function(ads){ %>
                <a class="swiper-slide" data-bigdata="<%= bigDataParams.xfAds.text %>">
                    <h3><%= ads.title %></h3>
                    <p><%= ads.subTitle %></p>
                </a>
                <% }) ; %>           
            </div>
        </div>
    </div>
    <div class="fence-line"></div>
</div>
<input type="hidden" id="routerConditionParams" value="<%= routerConditionParams %>">