<%- include("../components/head") %>
<div class="content-wrapper has-assistant"> 
    <!-- 轮播相册图片 -->    
    <div class="wk-panel remove-left-padding">
        <%- include( "../components/album" , {
            imgList : item.imgList , 
            bigDataParams : item.bigDataParams.clickImageBigDataParams
        })%>
    </div>
    <!-- 户型等信息 -->
    <div class="wk-panel has-right-padding base-info">
        <h1 class="house-title"><%= item.estateName + " " + item.subEstateName %></h1>
        <h2><%= item.sellPoint || '埋点。。。'%></h2>
        <p class="unit-price"><%= item.unitPrice%> 元 / m<small>参考价格</small> <i class="calc wk-icon icon-jiajianchengchu"></i></p>                
        <div class="panel-body">            
            <hr/>
            <div class="tags">            
                    <% if( item.hasActivity ) { %><span class="tag yh">有优惠</span><% } %><% if( item.isSubwayEstate ) { %><span class="tag dt">近地铁</span><% } %><% if( item.hasVideo ) { %><span class="tag">有视频</span><% } %><% if( item.isSoonOpen ) { %><span class="tag">即将开盘</span><% } else {%><span class="tag">在售楼盘</span><%}%>                
            </div>
            <div class="time">
                <dl><dt>开盘时间</dt><dd><%= item.openTimeStr || "--" %></dd></dl>
                <dl><dt>交房时间</dt><dd><%= item.launchTimeStr || "--" %></dd></dl>                
            </div>
            <%if(item.activitys && item.activitys.length){%>
            <div class="activity">
                <ul>
                    <%for(var i = 0; i < item.activitys.length; i++){%>
                    <li><span></span><%= item.activitys[i].title%></li>
                    <%}%>
                </ul>
            </div>
            <%}%>
        </div>
    </div>

    <!-- 最新动态 -->
    <%if(item.newHouseDynamicCount){%>
    <div class="wk-panel top-gap has-right-padding xf-dynamics">
        <div class="panel-header">
            <a class="box" href="<%= item.newHouseDynamicCount > 0 ? 'dynamic/' + item.subEstateId + '.html': '#' %>" data-bigdata="<%= item.bigDataParams.clickDynamicTotalBigDataParams%>">
                <div class="left">最新动态</div>
                <%if(item.newHouseDynamicCount > 0){%>
                <div class="right"><%= item.newHouseDynamicCount%> 条<i class="iconfont icon-next"></i></div>
                <%}%>
            </a>
        </div>
        <%if(item.newHouseDynamicList && item.newHouseDynamicList[0]){%>
        <div class="panel-body">
            <%- include("../components/xf-dynamic", {dynamics: item.newHouseDynamicList})%>
        </div>
        <%}%>
    </div>
    <%}%>

    <!-- 在售户型 -->
    <%if(item.houseTypeImages && item.houseTypeImages.length >0 ){%>
    <div class="wk-panel top-gap house-type">
        <h1 class="panel-header">在售户型</h1>
        <div class="panel-body"><%for(var i = 0; i < item.houseTypeImages.length; i++){%><div class="house-type-item"><img src="<%= item.houseTypeImages[i].imgKey%>"><h3><%= item.houseTypeImages[i].name%></h3><p class="type-area"><%= item.houseTypeImages[i].bedRoomSum + '室' + item.houseTypeImages[i].livingRoomSum + '厅' + item.houseTypeImages[i].wcSum + '卫' + ' ' + item.houseTypeImages[i].spaceArea + 'm'%></p><p class="total-price"><%= item.houseTypeImages[i].price%>万起<p></div><%}%></div>
    </div>
    <%}%>

    <!-- 项目特色 -->
    <%if(item.projectFeatureList && item.projectFeatureList.length > 0){%>
    <div class="wk-panel project-feature">
        <h1 class="panel-header">项目特色</h1>
        <div class="panel-body">
            <ul>
                <%for(var i = 0; i < item.projectFeatureList.length; i++){%>
                <li>
                    <img src="<%= appStaticPrefix %>/images/xf/special_<%= item.projectFeatureList[i].featureType%>.png">
                    <div>
                        <h3><%= item.projectFeatureList[i].featureName%></h3>
                        <p><%= item.projectFeatureList[i].featureDescription%></p>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>
    </div>
    <%}%>

    <!-- 楼盘信息 -->    
    <div class="wk-panel top-gap has-right-padding building-info">
        <div class="panel-header">楼盘信息</div>
        <div class="panel-body one">
            <div>
                <span>产权年限</span>
                <span><%= item.propertyRight%> 年</span>
            </div>                   
            <div>
                <span>规划户数</span>
                <span><%= item.planRoom%> 户</span>
            </div>                   
            <div>
                <span>装修标准</span>
                <%if(item.buildDecoration == 1){%>
                <span>毛坯</span>
                <%}%>
                <%if(item.buildDecoration == 2){%>
                <span>精装</span>
                <%}%>
                <%if(item.buildDecoration == 3){%>
                <span>豪装</span>
                <%}%>
            </div>                   
            <div>
                <span>物业类型</span>
                <span><%= item.propertyTypeStr%></span>
            </div>                               
        </div>        
        <div class="panel-body two">
            <hr/>
            <div>
                <span>规划车位</span>
                <span><%= item.parkingSpace || "--"%></span>
            </div>                   
            <div>
                <span>楼盘地址</span>
                <span><%= item.initName%></span>
            </div>                   
            <div>
                <span>开发商</span>
                <span><%= item.developers%></span>
            </div>                   
            <a href="" class="more">查看更多</a>                
        </div>
    </div>
    
    <!-- 楼盘画报 -->
    <%if(item.newHouseMagazineList && item.newHouseMagazineList.length > 0){%>
    <div class="wk-panel top-gap has-right-padding magazine">
        <div class="panel-header">楼盘画报</div>
        <div class="panel-body">
            <h3><%= item.newHouseMagazineList[0].title%></h3>
            <h4><%= item.newHouseMagazineList[0].publishTimeStr%></h4>
            <img src="<%= item.newHouseMagazineList[0].fileKey%>">
            <p><%= item.newHouseMagazineList[0].content%></p>
            <a href="#" class="more">查看更多</a>
        </div>
    </div>
    <%}%>    

    <%if(commentGroupModel){%>
    <!-- 用户评论 -->
    <div class="wk-panel rent-comments has-right-padding">        
        <div class="panel-header">
            <a class="box" href="<%= item.commentTotal > 0 ? domain + '/estate/moreComment.html?commentLocation=1&subEstateId='+ item.subEstateId: '#' %>" data-bigdata="<%= item.bigDataParams.clickCommentTotalBigDataParams%>">
                <div class="left">用户评论</div>
                <%if(commentGroupModel.commentList && commentGroupModel.commentList.length > 0){%>
                <div class="right"><%= item.commentTotal%> 条<i class="iconfont icon-next"></i></div>
                <%}%>
            </a>
        </div>        
            <div class="panel-body">
              <%if(!commentGroupModel || !commentGroupModel.commentList || commentGroupModel.commentList.length <=0){%>
                <span>当前暂无评论，快来抢沙发吧！</span>
                <p><a href="<%= domain %>/estate/commentEstate.html?subEstateId=<%= item.subEstateId %>&source=rent&businessId=<%= item.encryptHouseId %>&commentLocation=1&boutique=0&hotSpotId=<%= item.houseId %>" data-bigdata="<%= item.bigDataParams.clickGoCommentBigDataParams%>">我来点评</a></p>
                <%}else{%> 
                <%- include("../components/subestate-comments", {comments: commentGroupModel.commentList})%>
                <hr/>
                <a href="#" class="go-comment">我来评论</a>
                <%}%>
            </div>
        <hr>   
    </div>
    <%}%>
    <% if( item.longitude > 0 &&  item.latitude > 0 ){ %>
         <%- include("../components/map" , {
             bigDataParams : item.bigDataParams.clickMapBigDataParams ,
             longitude : item.longitude ,
             latitude : item.latitude , 
             address : item.estateAddr||"这是地址。。。" , 
             subEstateName : item.subEstateName , 
             mapUrl : item.mapUrl
          }) %>
    <% } %>

    <!-- 周边楼盘 -->
    <% if( aroundNewHouseList && aroundNewHouseList.length > 0) { %>
    <div class="wk-panel top-gap around-building">
        <div class="panel-header">周边楼盘</div>
        <div class="panel-body">
        <%- include( "../components/xf-items" , { items : aroundNewHouseList }) %>
        <hr/>
        <a href="#" class="more">查看更多</a>
        </div>
    </div>  
    <% } %>          

    <span class="consult-phone">电话咨询</span>  
</div>


<%- include("../components/download-app" ,{ bigDataParams: item.bigDataParams && item.bigDataParams.downloadBigDataParams }) %>
<%- include("../components/footer") %>