<%- include("../components/head")%>
<div class="xf-dynamics">
<%- include("../components/xf-dynamic" , { "dynamics" : items } ) %>
</div>
<p class="no-more">
    没有更多动态了
</p>
<a data-bigdata="<%= encodeURIComponent(JSON.stringify({eventName: "1110001", eventParam:{new_house_id: subEstateId}}))%>" class="consult-phone" data-href="tel:<%= tel %>" href="javascript:void(0);">电话咨询</a>
<input type="hidden" id="subEstateId" value="<%= subEstateId %>">
<%- include("../components/footer")%>